.title-name{
    color:sandybrown;
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
}
.half-width img{
    width: 100%;
    height: 35em;
}
input{
    background-color: rgba(128, 128, 128, 0.246);
    border: none;
    border-radius: 5px;
}
.inputField{
    background-color: rgba(211, 211, 211, 0.219);
}

